#keep {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 20%;
}
#better {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 20%;
}
#signup {
    margin-top: 3%;
    margin-left: 20%;
}